// Classes for background
.webiste-banner-bg {
    background: url("../img/digital-branding-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mobile-dev-banner {
    background: url("../img/mobile-application-bg\ \(1\).webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .digital-marketing-banner {
    background: url("../img/digital-marketing-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .digital-branding-banner {
    background: url("../img/digital-branding-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ui-ux-banner {
    background: url("../img/ui-ux-design-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .e-com-banner {
    background: url("../img/ecommerce-development-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  