
// Rotate Anchor
.anchor-wrapper {
    display: flex;
  }
  .arrow-anchor {
    position: relative;
    display: flex;
    align-items: center;
  }
  .arrow-anchor span {
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0 0.75em 0 0;
  }
  .arrow-anchor .img-wrapper {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #214d93;
    transition: 0.4s;
  }
  .arrow-anchor .img-wrapper svg {
    width: 1em;
    transform: rotate(0);
    transition: 0.4s;
  }
  .arrow-anchor {
    &:hover {
      .img-wrapper svg {
        transform: rotate(45deg);
        path {
          fill: #fff;
        }
      }
    }
  }
  // Rotate Anchor