

.banner-home-wrapper{
    width: 100vw;
    height: 100vh;
}
.navbar-brand {
    background-color: #97191900;
    padding: 1.0625em  1.0625em ;
    transition: .4s;

    img{
        padding: 0px;
        max-width: 16em;   
        max-height: 3em;
        
    }
}